[Unit]
Description=Metric Collector Agent
After=network.target


[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/opt/metric_collector/venv/bin/python3 /opt/metric_collector/metric_collector.py --mgmt_hostname=${COLLECTOR} --token=${TOKEN}
Environment="PATH=/opt/metric_collector/venv/bin"

[Install]
WantedBy=multi-user.target
