[Unit]
Description=My Lovely Service
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/bin/bash -c 'cd /opt/metric_collector/ && source venv/bin/activate && python metric_collector.py --mgmt_hostname=${COLLECTOR} --token=${TOKEN}'

[Install]
WantedBy=multi-user.target